PORT=3000
NODE_ENV=development

# Mercado Pago credentials
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-fake-token-sandbox
MERCADO_PAGO_WEBHOOK_SECRET=fake-webhook-secret

# Stripe credentials (futuro)
STRIPE_SECRET_KEY=sk_test_fake
STRIPE_WEBHOOK_SECRET=whsec_fake

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/payment_db?schema=public
